<%- include('./header.ejs') %>
    <section>
        <div id="banner">
            <div class="banner">
                <p class="banner_header">사람들이 어려워할만한 기사의 이해를
                    <br>퀴즈 풀기 경쟁으로 촉진한다</p>
                <p class="banner_content">XXX는 독자의 적극적인 참여유도를 위하
                    <br>고안된 퀴즈기반 플랫폼입니다.</p>
            </div>
            <div class="trend">
                <p class="trend_header">트렌디한 기사는...</p>
                <a class="trend_content">잘가라 비트코인</a>
            </div>
        </div>
        <div id="section">
            <div id="wrapper_wrapper">
                <div class="section_wrapper">
                    <p class="wrapper_category">IT</p>
                    <p class="wrapper_header">잘가라 비트코인</p>
                    <p class="wrapper_question">비트코인 채굴은 무한정 되는게 아니란거 다들 알 텐데, 언제 채굴 끝날지 아는 사람? 연도로 찍어보세요.</p>
                    <p class="wrapper_tag">#비트코인, #암호화폐, #채굴, #마이닝</p>
                    <img src="" alt="" class="wrapper_image">
                </div>
            </div>
            <div id="ranking">
                <p class="ranking_category">유저 랭킹</p>
                <ol class="ranking_list">
                    <li>
                        <p class="ranking_name">이세인</p>
                        <p class="ranking_score">10 / 10</p>
                    </li>
                </ol>
                <div class="login_box">
                    <a href="javascript:void(0)">로그인 후 랭킹을 확인하실 수 있습니다.</a>
                </div>
            </div>
        </div>
    </section>
    <%- include('./footer.ejs') %>