<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="danger_button">
        <p>value</p>
    </div>
    <div class="inactive_button">
        <p>value</p>
    </div>
    <div class="primary_button">
        <p>value</p>
    </div>
    <div class="select_input">
        <select name="" id="">
            <option value="">1</option>
        </select>
    </div>
</body>

</html>