button {
    border: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@font-face {
    font-family: 'NotoSansCJK-Bold';
    src: url('fonts/NotoSansCJK-Bold.ttc');
}

@font-face {
    font-family: 'NotoSansCJK-Black';
    src: url('fonts/NotoSansCJK-Black.ttc');
}

@font-face {
    font-family: 'NotoSansCJK-DemiLight';
    src: url('fonts/NotoSansCJK-DemiLight.ttc');
}

@font-face {
    font-family: 'NotoSansCJK-Light';
    src: url('fonts/NotoSansCJK-Light.ttc');
}

@font-face {
    font-family: 'NotoSansCJK-Medium';
    src: url('fonts/NotoSansCJK-Medium.ttc');
}

@font-face {
    font-family: 'NotoSansCJK-Regular';
    src: url('fonts/NotoSansCJK-Regular.ttc');
}

@font-face {
    font-family: 'NotoSansCJK-Thin';
    src: url('fonts/NotoSansCJK-Thin.ttc');
}

@font-face {
    font-family: 'SMG10';
    src: url('fonts/SMG10.ttf');
}

@font-face {
    font-family: 'SMG20';
    src: url('fonts/SMG20.ttf');
}

@font-face {
    font-family: 'SMG40';
    src: url('fonts/SMG40.ttf');
}

.danger_button {
    width: 90px;
    height: 56px;
    background-color: #da3333;
}

.danger_button>p {
    font-family: 'NotoSansCJKkr-Bold';
    font-size: 20px;
    letter-spacing: -0.4px;
    text-align: center;
    color: #ffffff;
    line-height: 56px;
}

.inactive_button {
    width: 90px;
    height: 56px;
    background-color: #e5e5e5;
}

.inactive_button>p {
    font-family: 'NotoSansCJKkr-Bold';
    font-size: 20px;
    letter-spacing: -0.4px;
    text-align: center;
    color: rgba(0, 0, 0, 0.15);
    line-height: 56px;
}

.primary_button {
    width: 90px;
    height: 56px;
    background-color: #5a99ed;
}

.primary_button>p {
    font-family: 'NotoSansCJKkr-Bold';
    font-size: 20px;
    letter-spacing: -0.4px;
    text-align: center;
    color: #ffffff;
    line-height: 56px;
}

.select_input>select {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #adadb3;
    width: 100%;
    padding-left: 20px;
    height: 48px;
}

.select_input {
    position: relative;
    width: 300px;
    height: 48px;
}

.select_input::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    background: url('images/arrow.png') no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 960px;
    width: 100%;
}

#header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #c8cdd7;
    position: relative;
    margin-bottom: 30px;
}

#header>.logo {
    width: 106px;
    height: 100%;
    display: inline-block;
    position: relative;
    margin-left: 50px;
}

#header>.logo>img {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
}

#header>.login,
#header>.logout {
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-style: 14px;
    font-family: 'NotoSansCJKkr-Regular';
    right: 50px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

section {
    width: 960px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

#banner {
    height: 240px;
}

.banner {
    width: 570px;
    float: left;
    height: 100%;
    margin-right: 25px;
    padding: 52px 0 0 51px;
    background: url('images/bg.jpg');
}

.banner_header {
    font-family: 'NotoSansCJKkr-Regular';
    margin-bottom: 21px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #fff;
    font-size: 23px;
    line-height: 1.5;
}

.banner_content {
    font-family: 'SMG20';
    letter-spacing: -0.3px;
    text-align: left;
    color: #fff;
    font-size: 14px;
    line-height: 1.71;
}

.trend {
    width: 360px;
    float: right;
    height: 100%;
    padding: 90px 0;
    text-align: center;
    background: url('images/wrapper.jpg');
}

.trend_header {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #fff;
    margin-bottom: 4px;
}

.trend_content {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 24px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #fff;
}

#wrapper_wrapper {
    min-width: 570px;
    float: left;
    position: relative;
    min-height: 1px;
}

section::after,
#banner::after {
    content: '';
    display: block;
    clear: both;
}

#section {
    margin-top: 50px;
}

.section_wrapper {
    box-shadow: inset 0 -1px 0 0 #c8cdd7;
    margin-bottom: 30px;
    height: 175px;
    position: relative;
}

.wrapper_category {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 12px;
    letter-spacing: -0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
}

.wrapper_header {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 24px;
    letter-spacing: -0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 12px;
    width: 320px;
    height: 36px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper_question {
    width: 320px;
    font-family: 'SMG20';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.63);
    margin-bottom: 14px;
    height: 48px;
    overflow: hidden;
}

.wrapper_tag {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 12px;
    letter-spacing: -0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
}

.wrapper_image {
    position: absolute;
    top: 20px;
    right: 0;
    width: 200px;
    height: 125px;
    display: inline-block;
}

#footer {
    margin-top: 70px;
    font-family: 'NotoSansCJKkr-Regular';
    text-align: center;
    font-size: 12px;
    letter-spacing: -0.2px;
    color: rgba(0, 0, 0, 0.31);
    background-color: #ffffff;
    box-shadow: inset 0 1px 0 0 #c8cdd7;
    height: 60px;
    padding: 21px 0;
}

#ranking {
    float: left;
    margin-left: 26px;
}

.ranking_category {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 12px;
    letter-spacing: -0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
    margin-bottom: 7px;
}

.ranking_list {
    font-family: 'NotoSansCJKkr-Medium';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.ranking_name {
    margin-left: 4px;
    margin-bottom: 4px;
}

.ranking_score {
    margin-left: 4px;
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 12px;
    letter-spacing: -0.2px;
    color: rgba(0, 0, 0, 0.63);
    margin-bottom: 14px;
}

.login_box {
    width: 350px;
    height: 36px;
    background-color: #ffe180;
    border: solid 2px #ffd54c;
    font-family: 'NotoSansCJKkr-Medium';
}

.login_box>a {
    display: inline-block;
    letter-spacing: -0.3px;
    padding-left: 14px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    height: 20px;
    margin-top: 8px;
}

#popup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: none;
}

#popup_color {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
}

#popup>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 65px;
}

#popup_register {
    display: none;
    width: 360px;
    height: 700px;
    border-radius: 6px;
    background-color: #ffffff;
}

#popup_login {
    width: 360px;
    height: 500px;
    border-radius: 6px;
    background-color: #ffffff;
    display: none;
}

.popup_logo {
    width: 240px;
    height: 75px;
    margin-bottom: 20px;
    display: inline-block;
}

.popup_input {
    margin-top: 20px;
}

.popup_input>p {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.63);
    margin-left: 38px;
    margin-bottom: 8px;
}

.popup_input>input {
    width: 300px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #adadb3;
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
    padding: 14px 20px;
}

button.primary_button {
    margin-top: 40px;
    width: 300px;
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff;
    height: 44px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.popup_link {
    display: block;
    font-size: 12px;
    letter-spacing: -0.2px;
    text-align: center;
    color: rgba(0, 0, 0, 0.44);
    font-family: 'NotoSansCJKkr-Regular';
}

#quiz_section {
    margin-top: 70px;
    width: 712px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.quiz_wrapper {
    border-bottom: solid 1px #c8cdd7;
    margin-bottom: 35px;
}

.quiz_category {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
    margin-bottom: 1px;
}

.quiz_header {
    font-family: 'NotoSansCJKkr-Light';
    font-size: 40px;
    letter-spacing: -0.8px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 15px;
}

.quiz_content {
    font-family: 'SMG20';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 21px;
}

.quiz_link {
    font-family: 'SMG40';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.quiz_link>a {
    font-family: 'SMG20';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-align: left;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.quiz_tag {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 12px;
    letter-spacing: -0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
    margin-bottom: 20px;
}

.answer_input>p {
    font-family: 'NotoSansCJK-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.63);
    margin-left: 8px;
}

.answer_wrapper form {
    position: relative;
}

.answer_input>input {
    padding-left: 20px;
    font-family: 'NotoSansCJK-Regular';
    margin-top: 8px;
    width: 712px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #adadb3;
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
}

button.answer_submit {
    margin-top: 20px;
    width: 80px;
    height: 34px;
    border-radius: 4px;
    background-color: #5a99ed;
    display: inline-block;
    text-align: center;
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff;
    float: right;
}

button.answer_submit::after {
    position: relative;
    content: '';
    display: block;
    clear: both;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: #606060;
    height: 20px;
    line-height: 25px;
}

[type="radio"]:checked+label:before {
    background: #5a99ed;
}

[type="radio"]:not(:checked)+label:before {
    border: 1px solid #ddd;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 9px;
    height: 9px;
    background: #fff;
    position: absolute;
    top: 5.5px;
    left: 5.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio {
    display: inline-block;
}

.ox {
    height: 48px;
}

.ox>a {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.44);
    float: left;
    width: 50%;
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    border: solid 1px #c8cdd7;
}

.xxxx.active {
    border: solid 1px #da3333;
    color: #da3333;
}

.oooo.active {
    border: solid 1px #8eea62;
    color: #8eea62;
}

.normal_input>input {
    padding-left: 20px;
    font-family: 'NotoSansCJK-Regular';
    margin-top: 8px;
    width: 712px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #adadb3;
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
}

.normal_input>p {
    font-family: 'NotoSansCJK-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.63);
    margin-left: 8px;
}

#write_section {
    width: 712px;
    margin: 0 auto;
}

.write_header {
    margin-top: 70px;
    margin-bottom: 15px;
    font-family: 'NotoSansCJKkr-Light';
    font-size: 40px;
    letter-spacing: -0.8px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.write_content {
    font-family: 'SMG20';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 52px;
}

.write_input {
    width: 100%;
    min-height: 76px;
    margin-bottom: 17px;
}

.write_input>p:first-child {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.63);
    margin: 8px;
}

.write_input>input {
    padding-left: 20px;
}

.write_input>input,
.select_wrapper {
    position: relative;
    width: 712px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #adadb3;
    line-height: 48px;
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
}

.select_wrapper>select {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
}

.select_wrapper::after {
    content: '';
    display: block;
    background: url('images/arrow.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.star_text1 {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 12px;
    letter-spacing: -0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
    margin-left: 8px;
    margin-bottom: 20px;
}

.star_text2 {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 12px;
    letter-spacing: -0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
    margin-left: 8px;
    margin-top: 8px;
}

.quizw {
    right: 121px !important;
}

.un {
    text-decoration: none;
}

.score_wrapper {
    margin-top: 35px;
    padding-left: 2px;
}

.result_wrapper_header {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(0, 0, 0, 0.44);
}

.result_wrapper_content {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 32px;
    letter-spacing: -0.6px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 20px;
}

.result_wrapper_content.result {
    color: rgba(142, 234, 98, 0.87);
}

.befaf>div {
    display: inline-block;
}

.texttext {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 12px;
    letter-spacing: -0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.63);
    margin-bottom: 8px;
    margin-top: 55px;
}

.result_wrapper.befrore {
    margin-right: 35px;
}

.popup_logo {
    width: 185px;
    height: 51.7px;
}